<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center red-text text-lighten-1">Intuitive Brief</h1>
    <div class="row center">
      <h5 class="header col s12 light"> What kind of project are you looking for?</h5>
    </div>
    <div class="row center">
      <a href="/hello" id="download-button" class="btn-large waves-effect waves-light red lighten-2">Get Started</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons"><%= image_tag('theway.png', height: 180) %></i></h2>
          <h5 class="center">The Brandon Logan Way</h5>

          <p class="light">We've called the `Brandon Logan Way`, when we help customers and designers to agreed from the beginning.</p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons"><%= image_tag('communication.png', height: 180) %></i></h2>
          <h5 class="center">Easy Communication Through Images</h5>

          <p class="light">An Algorithmic designer model will allow us to obtain a visual vocabulary to allow for better communication between customers and designers.</p>
        </div>
      </div>

    </div>

  </div>
  <br><br>
</div>
