<div class="row">
  <%= form_tag('/search?submit=true', class: "col s12", method: :get) do -%>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center red-text text-lighten-1">Brandon Search</h1>
        <div class="row center">
          <h5 class="header col s12 light">Select a category that is related to your specific design requirement</h5>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons"><%= image_tag('business_ads.png', height: 260) %></i>
                <span>
                  <input name="category" class="with-gap" type="radio" id="business_ads" value="business_ads" />
                  <label for="business_ads">Business & Ads</label>
                </span>
              </h2>

            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons"><%= image_tag('logo_identity.png', height: 260) %></i>
                <span>
                  <input name="category" class="with-gap" type="radio" id="logo_identity" value="logo_identity" />
                  <label for="logo_identity">Logo & Identity</label>
                </span>
              </h2>

            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons"><%= image_tag('web_app.png', height: 260) %></i>
                <span>
                  <input name="category" class="with-gap" type="radio" id="web_app" value="web_app" />
                  <label for="web_app">Web & App Design</label>
                </span>
              </h2>

            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m2">
          </div>

          <div class="col s12 m8">
            <label>Please select an Industry</label>
            <select class="browser-default" name="industry">
              <option value="" disabled selected>Choose your industry</option>

              <option value="Defense">Defense</option>
              <option value="Education Services">Education Services</option>
              <option value="Energy">Energy</option>
              <option value="Environment and Food">Environment and Food</option>
              <option value="Heritage">Heritage</option>
              <option value="IT & Telecoms">IT & Telecoms</option>
              <option value="Justice">Justice</option>
              <option value="Media and entertainment">Media and entertainment</option>
              <option value="Nuclear">Nuclear</option>
              <option value="Public Service">Public Service</option>
              <option value="Science">Science</option>
              <option value="Sport">Sport</option>
              <option value="Transport">Transport</option>
            </select>
          </div>

          <div class="col s12 m2">
          </div>

        </div>

      </div>

    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m5"></div>
          <div class="col s12 m2">
            <button class="btn red lighten-1" type="submit" name="boton" value="searched" >Submit
              <i class="material-icons right">Continue</i>
            </button>

          </div>
          <div class="col s12 m5"></div>
        </div>
        <div class="row">
          <br/>
          <a href="/hello">back</a>
        </div>
      </div>
    </div>

  <% end -%>
</div>
