<div class="row">
  <%= form_tag('/tags?submit=true', class: "col s12", method: :get) do -%>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center red-text text-lighten-1">Tags</h1>
        <div class="row center">
          <h5 class="header col s12 light">Select a tags that shape your branding</h5>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="">

        <!--   Mind Marks   -->
        <p class="flow-text">Check Mind Marks</p>
        <div class="row">
          <div>
            

            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-1" name=""mind-mark-example-1" />
              <label for="mind-mark-example-1">Mind mark 1</label>
            </div>
            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-2" name=""mind-mark-example-2" />
              <label for="mind-mark-example-2">Mind mark 2</label>
            </div>

            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-2" name=""mind-mark-example-2" />
              <label for="mind-mark-example-2">Mind mark 2</label>
            </div>
          </div>

        </div>

        <div class="row">
          <div>
            

            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-1" name=""mind-mark-example-1" />
              <label for="mind-mark-example-1">Mind mark 1</label>
            </div>
            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-2" name=""mind-mark-example-2" />
              <label for="mind-mark-example-2">Mind mark 2</label>
            </div>

            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-2" name=""mind-mark-example-2" />
              <label for="mind-mark-example-2">Mind mark 2</label>
            </div>
          </div>

        </div>          

      </div>

      <div class="">

        <!--   Values   -->
        <p class="flow-text">Check Values</p>
        <div class="row">
          <div>
            

            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-1" name=""mind-mark-example-1" />
              <label for="mind-mark-example-1">Value 1</label>
            </div>
            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-2" name=""mind-mark-example-2" />
              <label for="mind-mark-example-2">Value 2</label>
            </div>

            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-2" name=""mind-mark-example-2" />
              <label for="mind-mark-example-2">Value 2</label>
            </div>
          </div>

        </div>

        <div class="row">
          <div>
            

            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-1" name=""mind-mark-example-1" />
              <label for="mind-mark-example-1">Value 1</label>
            </div>
            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-2" name=""mind-mark-example-2" />
              <label for="mind-mark-example-2">Value 2</label>
            </div>

            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-2" name=""mind-mark-example-2" />
              <label for="mind-mark-example-2">Value 2</label>
            </div>
          </div>

        </div>          

      </div>

      <div class="">

        <!--   Archetypes   -->
        <p class="flow-text">Check Archetypes</p>
        <div class="row">
          <div>
            

            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-1" name=""mind-mark-example-1" />
              <label for="mind-mark-example-1">Archetype 1</label>
            </div>
            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-2" name=""mind-mark-example-2" />
              <label for="mind-mark-example-2">Archetype 2</label>
            </div>

            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-2" name=""mind-mark-example-2" />
              <label for="mind-mark-example-2">Archetype 2</label>
            </div>
          </div>

        </div>

        <div class="row">
          <div>
            

            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-1" name=""mind-mark-example-1" />
              <label for="mind-mark-example-1">Archetype 1</label>
            </div>
            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-2" name=""mind-mark-example-2" />
              <label for="mind-mark-example-2">Archetype 2</label>
            </div>

            <div class="col s12 m3">
              <input type="checkbox" class="filled-in" id="mind-mark-example-2" name=""mind-mark-example-2" />
              <label for="mind-mark-example-2">Archetype 2</label>
            </div>
          </div>

        </div>          

      </div>


    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m5"></div>
          <div class="col s12 m2">
            <button class="btn red lighten-1" type="submit" name="boton" value="tags" >Submit
              <i class="material-icons right">Continue</i>
            </button>

          </div>
          <div class="col s12 m5"></div>
        </div>
        <div class="row">
          <br/>
          <a href="/search">back</a>
        </div>
      </div>
    </div>

  <% end -%>
</div>
