@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';

.blue-grey.lighten-5 {
    background-color: #fbfbfb !important;
}

input[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #292822;
}

input[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #292822;
}